.add-birthday-page {
    text-align: center;
    padding: 50px;
}

.birthday-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--overlay-color);
    border-radius: 5px;
}

.save-button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: var(--button-hover-bg);
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--secondary-text-color);
}

#reminder {
    width: 105%;
    padding: 10px;
    border: 1px solid var(--overlay-color);
    border-radius: 5px;
    background-color: var(--list-item-bg);
    color: var(--text-muted);
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

#reminder:focus {
    border-color: var(--primary-color);
    outline: none;
    background-color: var(--secondary-text-color);
}

#reminder:hover {
    border-color: var(--primary-hover);
}